@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/silka');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --inputsbg: #F7F6F4;
  --inputgrey: #888884;
  --menu: #3C3932;
  --background-rgb: 255, 255, 255;
  --square: #171616;
  --footer: #F6F5F5;
  --input-footer: #8B8586;
  --input-border: #B3B3B9;
  --list-footer: #000000
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


* {
  font-family: 'Silka', sans-serif;
}